/* .right-section{
    width: 50%;
  }
  .contact-section .right-section .inputs .head h4{
    letter-spacing: 3px;
    color:lightseagreen;
  }
  
.name{
    margin-bottom: 5%;
  }
  .mail{
    margin-bottom: 5%;
  }
  .num{
    margin-bottom: 5%;
  }
  .twosection .right-section .inputs .data input{
    border:0;
    outline: 0;
    border-bottom: 2px solid darkcyan;
    font-family: 'Chakra Petch', sans-serif;
    background-color: transparent;
    color: white;
    width: 65%;
    font-size: medium;
    letter-spacing: 2px;
  }
  ::placeholder{
    letter-spacing: 1px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
  }
  .twosection .right-section .inputs .text textarea{
    border: 0;
    outline: 0;
    width: 65%;
    border-bottom: 2px solid darkcyan;
    font-family: 'Chakra Petch', sans-serif;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
  }
  .data{
    padding-bottom: 4%;
    padding-left: 15%;
  
  }
  .inputs .head{
    padding-bottom: 5%;
  }
  .inputs .head h4{
    width: 58%;
  }
  .text{
    padding-left: 15%;
  }
 */













