*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro',sans-serif;
  scroll-behavior: smooth;
}
#fixed{
    position: absolute;
    width: 100%;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(2px); */
    /* background-color: black; */
}
#nav{
    font-weight: 600;
    /* padding-left: 10%; */
    font-size: 20px;
    background-color: transparent;
}
.container1 .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link a{
  color:aqua;
}
.container1 .navbar-nav{
  display: flex;
  margin-left: 50%;
  gap: 7%;
  
}
.container1{
  border-bottom: 6px solid #333;
}
/* .vm h3{
  font-family:'permanent Marker',cursive;
  font-weight: bolder;
  color:#ea1d6f;
  font-size:xx-large;
} */
.vm{
  margin-left: 7%;
}
 img{
   height: 67px;
   width: 75px;
}
.bg{
    background: url(/images/pexels-veeterzy-303383.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position-y: 20%;
    background-size: cover;

}
.myname{
    padding-left: 5%;
    padding-top:15%;
    font-size: 25px;
    font-weight: 900;
}
.myname h1{
    font-family: 'Chakra Petch', sans-serif;
    color:white;
}
.myname h2{
    font-family: 'Chakra Petch', sans-serif;
    color:white;
}
.myname h1 span{
    color:steelblue;
}


.Aboutsection {
    width: 100%;
    height:80vh;
    margin-bottom: 5%;
    text-align: center; 
    
}
.Aboutsection .section1 .cnt1 h2{
  letter-spacing: 5px;
  color:steelblue ;
  font-weight: 600;
  padding-top: 3%;
  border-top: 6px solid rgb(92, 92, 92);
  
}
.Aboutsection .section1 .flex .myself{
  font-family: 'Chakra Petch', sans-serif;
}
.Aboutsection .section1 .flex .myself h3 span{
    color: steelblue;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
}
.section1{
    background: url(/images/dark-gray.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: cover;
}
.myimage img{
    height: 50vh;
    width: 275px;
    border-radius: 10px;
    border: 3px solid black;
}
.myimage{
  width: 80%;
}

.flex{
    display: flex;
    padding-top: 5%;
    width: 100%;
    padding-bottom: 5%;
}
.flex .img{
  width: 50%;
}
.flex .myself{
  width: 50%;
}
.myself h3{
  width: 80%;
  font-family: 'Chakra Petch', sans-serif;
  color: #fff;
  
}
.myself .para{
  width: 80%;
 text-align: justify;
 margin-top: 5%;
 font-family: 'Poppins', sans-serif;
 color: #fff;
  
}
.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    background-color:skyblue;
    border: none;
    color: white;
    padding: 8px;
    width: 210px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    margin-top: 10%;
    border-radius: 10px;
    margin-left: 25%;
  }
  .button a{
    text-decoration: none;
    color:black;
    
  }
  .button a:hover{
    color:black;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0px 2px 10px 5px skyblue;
    color: #000;
  }
.sec1{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    margin-bottom:3%;
    padding-top: 4%;
    border-top: 6px solid rgb(92, 92, 92);    
}
.sec2{
    width: 50%;
}
.sec3{
    width: 50%;
}
.backimage .sec1 .sec2 .content{
  width: 70%;
  text-align: justify;
  margin-left: 20%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.backimage{
  background: url(/images/dark-gray.jpg);
  width: 100%;
  height: 95vh;
  background-attachment: fixed;
  background-position-y: bottom;
  background-size: cover;
  /* border-bottom: 4px solid rgb(92, 92, 92);  */
}
.logos img{
    height: 50vh;
    width: 60%;
    margin-left: 20%; 
    padding-top: 10%;
}
.sec1 .sec2 .head{
    width: 100%;
    margin-left: 4%;
}
.sec1 .sec2 .head h4{
  letter-spacing: 1px;
  font-weight: 600;
  color:steelblue;

  
}
.backimage .sec3 .skill h4{
  letter-spacing: 1px;
  color:steelblue ;
  font-weight: 600;
  text-align: center;
}

.button1 {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 2px;
    position: relative;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 8px;
    width: 145px;
    text-align: center;
    transition-duration: 0.6s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 40%
  }
  .button1 a{
    text-decoration: none;
    color:black;
  }
  .button1 a:hover{
    color:black;
  }
  .button1:hover {
    background:#fff;
    box-shadow: 0px 2px 10px 5px skyblue;
    color: #000;
  }
  .project{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
    

  }
  .project h6{
    width: 38%;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;

    
  }



.cards .project .propara{
  color: #fff;
}
  


.cards{
    /* height: 100vh;
    width: 100%; */
    /* margin-top: 43%; */
    background: url(/images/dark-gray.jpg);
    width: 100%;
    height: 122vh;
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: cover;
    border-top: 6px solid rgb(92, 92, 92);
    

}

  .container{
    width: 1000px;
    position: relative; 
    /* display: flex; */
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    /* margin-left: 30%; */
    margin-bottom: 50px;
    flex-direction:row ;
    border: 0;
    background: transparent;
   


}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.9s;
}

.container .card .face.face1{
    /* position: relative; */
    background: #333;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 1;
    transform: translateY(0px);
    /* border-radius: 10px; */
}

.container .card:hover .face.face1{

    transform: translateY(0);

}

.container .card .face.face1 .content{
    /* opacity: 0.2; */
    transition: 0.9s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    width: 100%;
    height: 30vh;
  
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateX(-300px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
/* .sec1{
    display: flex;
} */
.cards .project .prohead{
  letter-spacing: 3px;
  color:steelblue ;
}
.cards .project .prohead h3{
  font-weight:600;
  margin-top: 3%;
}



.contact-section{
  border-top: 6px solid #333;
  background: url(/images/R.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position-y: bottom;
  background-size: cover;
}
.contact-section .head{
  margin-top: 3%;
}
.twosection{
  display: flex;
  width: 100%;
}
.twosection .left-section .mycnt .name i span{
  color:skyblue;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
}
.twosection .left-section .mycnt .mail i span{
  color: skyblue;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
}
.twosection .left-section .mycnt .num i span{
  color: skyblue;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
}
.twosection i{
  color:#fff ;
  font-size: 22px;

}

.head{
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}
.contact-section .head h3{
  letter-spacing: 3px;
  color:steelblue ;
  font-weight: 600;
}
.contact-section .right-section .inputs .head h4{
  letter-spacing: 3px;
  color:skyblue;
  /* font-weight: 600; */
}

.contact-section .head h4{
  color: #fff;
}
.contents{
  /* width: 58%; */
  margin-left: 30%;
  margin-top: 5%;
}
.contents h6{
  /* width: 75%; */
  font-size: large;
  color:white;
  font-family: 'Poppins', sans-serif;
}
.mycnt{
 margin-top:10%;
 margin-left: 30%;
 color: darkcyan;
 font-size: large;
}
.mycnt span{
  color: #000;
}
.left-section{
  width: 50%;
}
.right-section{
  width: 50%;
}
.name{
  margin-bottom: 5%;
}
.mail{
  margin-bottom: 5%;
}
.num{
  margin-bottom: 5%;
}
.twosection .right-section .inputs .data input{
  border:0;
  outline: 0;
  border-bottom: 2px solid darkcyan;
  /* border-right: 2px solid darkcyan; */
  font-family: 'Chakra Petch', sans-serif;
  background-color: transparent;
  color: white;
  width: 65%;
  font-size: medium;
  letter-spacing: 2px;
}
::placeholder{
  letter-spacing: 1px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
}
.twosection .right-section .inputs .text textarea{
  border: 0;
  outline: 0;
  width: 65%;
  border-bottom: 2px solid darkcyan;
  font-family: 'Chakra Petch', sans-serif;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
}
.data{
  padding-bottom: 4%;
  padding-left: 15%;

}
.inputs .head{
  padding-top: 3%;
  padding-bottom: 5%;
}
.inputs .head h4{
  width: 58%;
}
.text{
  padding-left: 15%;
}






  
