*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#fixed{
    position: absolute;
    width: 100%;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(2px); */
    background-color: black;
}
#nav{
    margin-left: 4%;
    /* font-weight: bold; */
    font-size: 20px;
}
.container1 .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link a{
  color: lightgreen;
}

.vm h3{
  font-family:'permanent Marker',cursive;
  font-weight: bolder;
  color:#ea1d6f;
  font-size:xx-large;
}
.vm{
  margin-left: 7%;
}
 img{
   height: 67px;
   width: 75px;
}
.bg{
    background: url(/images/pexels-danny-meneses-943096.jpg);
    width: 100%;
    height: 100vh;
    /* background-attachment: fixed; */
    background-position-y: bottom;
    background-size: cover;
}
.myname{
    padding-left: 5%;
    padding-top:15%;
    font-size: 25px;
    font-weight: 900;
}
.myname h1{
    font-family: 'Chakra Petch', sans-serif;
    color:skyblue;
}
.myname h2{
    font-family: 'Chakra Petch', sans-serif;
    color:skyblue;
}
.myname h1 span{
    color:rgb(245, 11, 11);
}


.Aboutsection {
    width: 100%;
    height:100vh;
    padding-top: 5%;
    margin-bottom: 10%;
   
}
.section1{
    text-align: center;
    /* border-bottom: 20px solid gray; */
}
.myimage img{
    height: 50vh;
    width: 275px;
    margin-left: 50%;
    border-radius: 20px;
    border: 8px solid darkgray;
}

.flex{
    display: flex;
    padding-top: 5%;
}
.myself{
    width: 35%;
    margin-left: 33%;
}
.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 8px;
    width: 210px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 25%;
  }
  .button a{
    text-decoration: none;
    color:black;
    
  }
  .button a:hover{
    color:black;
  }
  .button:hover {
    background:#fff;
    box-shadow: 0px 2px 10px 5px skyblue;
    color: #000;
  }
.sec1{
    display: flex;
    margin-bottom:3%;
}
.sec1 .sec2{
    width: 65%;
    padding-left: 10%;
}
.sec3{
    width: 100%;
    text-align: center;
}
/* .backimage img{
    height: 100vh;
    width: 100%;
  
} */
.logos img{
    height: 50vh;
    width: 50%;
    margin-left: 12%; 
    padding-top: 10%;
}
.sec1 .sec2 .head{
    width: 100%;
}
.button1 {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 8px;
    width: 125px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 30%
  }
  .button1 a{
    text-decoration: none;
    color:black;
  }
  .button1 a:hover{
    color:black;
  }
  .button1:hover {
    background:#fff;
    box-shadow: 0px 2px 10px 5px skyblue;
    color: #000;
  }
  .project{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .project h6{
    width: 38%;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    
  }






.cards{
    /* height: 100vh;
    width: 100%; */
    margin-top: 43%;
}
  .container{
    width: 1000px;
    position: relative; 
    /* display: flex; */
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    width: 65%;
    margin-left: 30%;
    margin-bottom: 50px;
    flex-direction:row ;
    border: 0;
   


}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.9s;
}

.container .card .face.face1{
    /* position: relative; */
    background: #333;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 1;
    transform: translateY(0px);
    /* border-radius: 10px; */
}

.container .card:hover .face.face1{

    transform: translateY(0);

}

.container .card .face.face1 .content{
    /* opacity: 0.2; */
    transition: 0.9s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    width: 100%;
    height: 30vh;
  
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateX(-300px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
.sec1{
    display: flex;
}





*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .background {
    /* display: flex; */
    /* min-height: 100vh; */
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background:currentColor;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }

  
  
  


  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }

.cards{
    border: 10px solid gray;
}
.contents{
  width: 100%;
  /* margin-top: 15%; */
  margin-top: 8%;
  color: white;
}
.mycnt{
  color: white;
  width: 40%;
  margin-top: 5%;
}
.app-form{
  margin-top: 15%;
}
.contactimg img{
  height: 50vh;
  width: 80%;
  margin-top: 5%;
}



  
