*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#fixed{
    position: absolute;
    width: 100%;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(2px); */
    background-color: black;
}
#nav{
    margin-left: 4%;
    font-weight: bold;
    font-size: 20px;
}
 img{
   height: 50px;
   width: 50px;
}
.bg{
    background: url(/images/pexels-danny-meneses-943096.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: cover;
}
.myname{
    padding-left: 5%;
    padding-top:15%;
    font-size: 25px;
    font-weight: 900;
}
.myname h1{
    font-family: 'Chakra Petch', sans-serif;
    color:skyblue;
}
.myname h2{
    font-family: 'Chakra Petch', sans-serif;
    color:skyblue;
}
.myname h1 span{
    color:rgb(245, 11, 11);
}


.Aboutsection {
    width: 100%;
    height:100vh;
    padding-top: 5%;
}
.section1{
    text-align: center;
}
.myimage img{
    height: 50vh;
    width: 275px;
    margin-left: 50%;
}
.flex{
    display: flex;
    padding-top: 5%;
}
.myself{
    width: 35%;
    margin-left: 33%;
}
.myself .button a{
    border: 2px solid black;
    border-radius: 20px;
    background-color:black;
    color: white;
    text-decoration: none;
    padding: 13px;
}
.button{
    padding-top: 5%;
}
.sec1{
    display: flex;
    padding-top: 5%;
}
.sec1 .sec2{
  width: 45%;
  padding-left: 10%;
}
.sec3{
   text-align: center;
   margin-left: 25%;
}
.logos img{
    height: 50vh;
    width: 100%;
    padding-left: ;
}


